{% extends 'mascotas/base.html' %}

{% block title %}
    Editar cita
{% endblock %}

{% block content %}

    <h2>
        ✏️ Editar cita
    </h2>

    <div class="card">

        {% if form %}

        <h3>
            🐾 {{ mascota.nombre }}
        </h3>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            {% include 'mascotas/_botones_guardar.html' with texto='💾 Guardar cambios' %}

        </form>

        <br>

        {% endif %}

        <a
            href="{% url 'citas_mascota' mascota.id %}"
            class="btn btn-secondary">

            ← Cancelar

        </a>

    </div>

{% endblock %}
